<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'soy el reboton', contact_path %>
<%= image_tag 'https://estaticos.muyinteresante.es/uploads/images/article/600033325bafe872e9c3bf12/gatitoredes.jpg' %>